.white {
    color:white;
}
.funnyTitle {
    padding:150px;
    border: 25px double burlywood;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    font-size:84px;
    letter-spacing: 15px;
    color:#002424;
}
.bigger {
    font-size:80px;
    text-decoration: double underline 2px black;
}
ol li {
    list-style-type: upper-roman;
    font-family: monospace;
    transform: rotate(-2deg);
}
.strikeit {
    text-decoration: dashed line-through 2.5px black;
}