.white {
    color:white;
}
.funnyTitle {
    padding:150px;
    border: 25px double burlywood;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bigger {
    font-size:80px;
}